<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.slomic.body.measurements"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:backupAgent="no.slomic.body.measurements.storage.DbBackupHelper"
        android:icon="@drawable/body_tracker_icon2"
        android:label="@string/app_name"
        android:theme="@style/AppThemeDark" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIJsw-XcJltX3HmVpCyqvEkv2tEahJS8gs6zFnsg" />
    </application>

</manifest>